$colors: (
    primary: $color-var-1,
    secondary: $color-var-2,
    success: $color-success,
    danger: $color-danger,
    warning: $color-warning,
    info: $color-info,
    light: $color-light,
    dark: $color-dark, 

    blue-100: darken($color-blue, 5%),
    blue-200: darken($color-blue, 10%),
    blue-300: darken($color-blue, 15%),
    blue-400: darken($color-blue, 20%),
    blue-500: darken($color-blue, 25%),
    blue-600: darken($color-blue, 30%),
    blue-700: darken($color-blue, 35%),
    blue-800: darken($color-blue, 40%),
    blue-900: darken($color-blue, 45%),
    
    green-100: darken($color-green, 5%),
    green-200: darken($color-green, 10%),
    green-300: darken($color-green, 15%),
    green-400: darken($color-green, 20%),
    green-500: darken($color-green, 25%),
    green-600: darken($color-green, 30%),
    green-700: darken($color-green, 35%),
    green-800: darken($color-green, 40%),
    green-900: darken($color-green, 45%),
    
    red-100: darken($color-red, 5%),
    red-200: darken($color-red, 10%),
    red-300: darken($color-red, 15%),
    red-400: darken($color-red, 20%),
    red-500: darken($color-red, 25%),
    red-600: darken($color-red, 30%),
    red-700: darken($color-red, 35%),
    red-800: darken($color-red, 40%),
    red-900: darken($color-red, 45%),

    pink-100: darken($color-pink, 5%),
    pink-200: darken($color-pink, 10%),
    pink-300: darken($color-pink, 15%),
    pink-400: darken($color-pink, 20%),
    pink-500: darken($color-pink, 25%),
    pink-600: darken($color-pink, 30%),
    pink-700: darken($color-pink, 35%),
    pink-800: darken($color-pink, 40%),
    pink-900: darken($color-pink, 45%),

    purple-100: darken($color-purple, 5%),
    purple-200: darken($color-purple, 10%),
    purple-300: darken($color-purple, 15%),
    purple-400: darken($color-purple, 20%),
    purple-500: darken($color-purple, 25%),
    purple-600: darken($color-purple, 30%),
    purple-700: darken($color-purple, 35%),
    purple-800: darken($color-purple, 40%),
    purple-900: darken($color-purple, 45%),

    orange-100: darken($color-orange, 5%),
    orange-200: darken($color-orange, 10%),
    orange-300: darken($color-orange, 15%),
    orange-400: darken($color-orange, 20%),
    orange-500: darken($color-orange, 25%),
    orange-600: darken($color-orange, 30%),
    orange-700: darken($color-orange, 35%),
    orange-800: darken($color-orange, 40%),
    orange-900: darken($color-orange, 45%),

    yellow-100: darken($color-yellow, 5%),
    yellow-200: darken($color-yellow, 10%),
    yellow-300: darken($color-yellow, 15%),
    yellow-400: darken($color-yellow, 20%),
    yellow-500: darken($color-yellow, 25%),
    yellow-600: darken($color-yellow, 30%),
    yellow-700: darken($color-yellow, 35%),
    yellow-800: darken($color-yellow, 40%),
    yellow-900: darken($color-yellow, 45%),
);