//CONST COLORS
$color-black:#000; 
$color-white: #fff;

//  VARIABLES COLORS
$color-var-1: blue; 
$color-var-2: red;
$color-success: green;
$color-danger: orange;
$color-warning: darkorange;
$color-info: cyan; 
$color-light: #ccc;
$color-dark: #191919;

// COLORS FOR ELEMENTS
$color-body:$color-light; 
$color-text: $color-black;


//COLORS FOR COMPOSITION
$color-blue: #3A9CFF;
$color-green: #1A7D00;
$color-red: #D00000;
$color-pink: #FFB6FF; 
$color-purple: #A114FF;
$color-orange: #FF5D0D;
$color-yellow: #FFC700;
$color-grey: #444544;