$colors: (
    primary: #007bff,
    secondary: #6c757d,
    success: #28a745,
    danger: #dc3545,
    warning: #ffc107,
    info: #17a2b8,
    light: #f8f9fa,
    dark: #343a40, 

    blue-100: darkblue
);

// @mixin cor($nome, $value) {
//     .color-#{$nome} {
//         color: $value;
//     }

//     .bg-#{$nome} {
//         background-color: $value;
//     }
// }

// @each $color,
// $value in $colors {
//     @include cor($color, $value)
// }